<img src="images/projectBannerImage.jpg" class="bannerImages" alt="Projects_Banner_Image">
<div class="description">
    <a href="http://abcorthopedics.com/">{{projectTitle1}}</a>
    <p>{{projectOneDesc}}</p>
    <a href="https://gadielprefab.com/">{{projectTitle2}}</a>
    <p>{{projectTwoDesc}}</p>
    <br>
    <a href="http://dubaihairtransplantexpert.com/">{{projectTitle3}}</a>
    <p>{{projectThreeDesc}}</p>
    <br>
    <a href="https://madeinmonkey.com/">{{projectTitle4}}</a>
    <p>{{projectFourDesc}}</p>
</div>